@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
	--Soft-blue: hsl(215, 51%, 70%);
	--Cyan: hsl(178, 100%, 50%);
	--main-bg: hsl(217, 54%, 11%);
	--card-bg: hsl(216, 50%, 16%);
	--line: hsl(215, 32%, 27%);
	--White: hsl(0, 0%, 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: var(--main-bg);
	display: grid;
	place-content: center;
	height: 100vh;
	font-size: 18px;
}

img {
	width: 100%;
}

.flex {
	display: flex;
}

.card-container {
	flex-direction: column;
	gap: 22px;
	color: #fff;
	padding: 20px;
	border-radius: 22px;
	width: 340px;
	height: 580px;
	background-color: var(--card-bg);
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.129);
}

.card-container img {
	border-radius: 10px;
}

.img-container {
	position: relative;
	cursor: pointer;
}

.view-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	transform: translate(-50%, -50%);
}

.overlay {
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 99%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: hsla(178, 100%, 50%, 0.588);
	z-index: 5;
}

.img-container:hover .overlay {
	opacity: 1;
}

.card-container > * {
	margin-bottom: 20px;
}
.nft-name {
	display: inline-block;
	font-weight: 600;
	font-size: 21px;
}

.nft-name:hover {
	color: var(--Cyan);
	transition: 0.5s ease;
	cursor: pointer;
}
.nft-caption {
	color: var(--Soft-blue);
	font-weight: 300;
}
.stats {
	justify-content: space-between;
	align-items: center;
}

.eth,
.time {
	align-items: center;
	font-weight: 400;
	font-size: 16px;
}

.eth {
	color: var(--Cyan);
}
.time {
	color: var(--Soft-blue);
}

.eth img,
.time img {
	margin-right: 7px;
	width: 15px;
	height: 16px;
}

.line {
	height: 1.5px;
	width: 100%;
	background-color: var(--line);
}

.copy-rights {
	align-items: center;
}
.copy-rights img {
	width: 30px;
	border-radius: 50%;
	border: solid #fff 1px;
	margin-right: 15px;
}
.copy-rights p {
	color: var(--Soft-blue);
	font-weight: 300;
}

.copy-rights span {
	color: white;
	font-weight: 400;
}

.copy-rights span:hover {
	color: var(--Cyan);
	cursor: pointer;
}
